
*.tags
FirstWorkspace/FirstWorkspace/.codelite/ctags
FirstWorkspace/FirstWorkspace/Project1/compile_flags.txt
FirstWorkspace/FirstWorkspace/Project1/Debug/main.cpp.o.d
FirstWorkspace/FirstWorkspace/Project1/Debug/main.cpp.o
FirstWorkspace/FirstWorkspace/Project1/Debug/Project1.exe
FirstWorkspace/FirstWorkspace/Project1/Debug/.d
FirstWorkspace/FirstWorkspace/Makefile
FirstWorkspace/FirstWorkspace/.codelite/FirstWorkspace.session
FirstWorkspace/FirstWorkspace/Project1/Project1.mk
FirstWorkspace/FirstWorkspace/tags
MyWorkspace/Makefile
MyWorkspace/.codelite/MyWorkspace.workspace.jerem
MyWorkspace/.codelite/MyWorkspace.session
MyWorkspace/.codelite/ctags
MyWorkspace/Project1/Debug/.d
MyWorkspace/Project1/Debug/main.cpp.o
MyWorkspace/Project1/Debug/main.cpp.o.d
MyWorkspace/Project1/Debug/Project1.exe
MyWorkspace/Project1/Project1.mk
MyWorkspace/Project2/Debug/main.cpp.o
MyWorkspace/Project2/Debug/main.cpp.o.d
MyWorkspace/Project2/Debug/Project2.exe
MyWorkspace/Project2/Debug/.d
MyWorkspace/Project2/Project2.mk
MyWorkspace/tags
