
*.tags
FirstWorkspace/FirstWorkspace/.codelite/ctags
FirstWorkspace/FirstWorkspace/Project1/compile_flags.txt
FirstWorkspace/FirstWorkspace/Project1/Debug/main.cpp.o.d
FirstWorkspace/FirstWorkspace/Project1/Debug/main.cpp.o
FirstWorkspace/FirstWorkspace/Project1/Debug/Project1.exe
FirstWorkspace/FirstWorkspace/Project1/Debug/.d
FirstWorkspace/FirstWorkspace/Makefile
FirstWorkspace/FirstWorkspace/.codelite/FirstWorkspace.session
FirstWorkspace/FirstWorkspace/Project1/Project1.mk
FirstWorkspace/FirstWorkspace/tags
MyWorkspace/Makefile
MyWorkspace/.codelite/MyWorkspace.workspace.jerem
MyWorkspace/.codelite/MyWorkspace.session
MyWorkspace/.codelite/ctags
MyWorkspace/Project1/Debug/.d
MyWorkspace/Project1/Debug/main.cpp.o
MyWorkspace/Project1/Debug/main.cpp.o.d
MyWorkspace/Project1/Debug/Project1.exe
MyWorkspace/Project1/Project1.mk
MyWorkspace/Project2/Debug/main.cpp.o
MyWorkspace/Project2/Debug/main.cpp.o.d
MyWorkspace/Project2/Debug/Project2.exe
MyWorkspace/Project2/Debug/.d
MyWorkspace/Project2/Project2.mk
MyWorkspace/tags
Section4/.codelite/ctags
Section4/.codelite/Section4.session
Section4/tags
Section4/Project1/Project1.txt
Section4/Project1/Project1.mk
Section4/Project1/Debug/Project1.exe
Section4/Project1/Debug/main.cpp.o.d
Section4/Project1/Debug/main.cpp.o
Section4/Project1/Debug/.d
Section4/Makefile
Section4/Project2/Debug/.d
Section4/Project2/Debug/main.cpp.o
Section4/Project2/Debug/main.cpp.o.d
Section4/Project2/Debug/Project2.exe
Section4/Project2/Project2.mk
Section4/Project2/Project2.txt
Section4/FirstProgram/Debug/.d
Section4/FirstProgram/Debug/FirstProgram.exe
Section4/FirstProgram/Debug/main.cpp.o
Section4/FirstProgram/Debug/main.cpp.o.d
Section4/FirstProgram/FirstProgram.mk
Section4/Section4Challenge/Debug/.d
Section4/Section4Challenge/Debug/main.cpp.o
Section4/Section4Challenge/Debug/main.cpp.o.d
Section4/Section4Challenge/Debug/Section4Challenge.exe
Section4/Section4Challenge/Section4Challenge.mk
Section4/Section4Challenge/Section4Challenge.txt
Section6/tags
Section6/Makefile
Section6/InitializingVariables/Debug/main.cpp.o.d
Section6/InitializingVariables/Debug/main.cpp.o
Section6/InitializingVariables/Debug/InitializingVariables.exe
Section6/InitializingVariables/Debug/.d
Section6/.codelite/ctags
Section6/Section6Challenge/Debug/.d
Section6/Section6Challenge/Debug/main.cpp.o
Section6/Section6Challenge/Debug/main.cpp.o.d
Section6/Section6Challenge/Debug/Section6Challenge.exe
Section6/Section6Challenge/Section6Challenge.txt
Section6/.codelite/Section6.session
